extends layout

block head
  link(rel="stylesheet", href="/css/addmovie.css")

block content
  .logtxt
    form(method="post", enctype="multipart/form-data")
      fieldset
        legend 영화정보입력
        div
          label(for="name") 포스터
          input(type="file", accept="image/*", name="poster").input
          br
          br
          label(for="username") 영화제목
          input(type="text", name="title").input
          br
          br
          label(for="password") 감독
          input(type="password", name="director").input
          br
          br
          label(for="tel") 주연배우
          input(type="text", name="actor").input
          br
          br
          button(type="submit") 추가
