extends layout

block head
  link(rel="stylesheet", href="/css/addmovie.css")

block content
  .logtxt
    form(method="post", enctype="multipart/form-data")
      fieldset
        legend 영화정보입력
        table
          label(for="name") 포스터
          input(type="file", accept="image/*", name="poster")#poster.input
          br
          br
          label(for="title") 영화제목
          input(type="text", name="title")#title.input
          br
          br
          label(for="director") 감독
          input(type="text", name="director")#director.input
          br
          br
          label(for="actor") 주연배우
          input(type="text", name="actor")#actor.input
          br
          br
      button(type="submit") 추가
