doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    .bgi
      .top-page
        a(href="/")
          img(src="/image/logo.png", alt="mainImg").style1
        div
          input(type="text", name="search", size="50").search

      .head-css
        .best
          .best-item
            a(href="/admin") 회원정보수정
          .best-item 
            a(href="/admin/movie") 영화관리
          .best-item 
            a(href="/viewschedule") 상영스케줄

        .log
          .best-item
            a(href="/logout") 로그아웃
    block content
