doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    .bgi
      .top-page
        a(href="/")
          img(src="/image/logo.png", alt="mainImg").style1
        div
          input(type="text", name="search", size="50").search

      .head-css
        .cate
          strong.sym ≡
          | 전체 카테고리
        .best
          .best-item 영화정보
          .best-item 상영관정보
          .best-item 영화예매
          .best-item 상영스케줄
        .log
          if !loggedIn
            .best-item
              a(href="/login") 로그인
            .best-item
              a(href="/signin") 회원가입
          if loggedIn
            .best-item
              a(href="/logout") 로그아웃
            .best-item
              a(href="/mypage") 마이페이지
    block content
