extends layout

mixin movieInfo(mvnum, title, director, actor, poster)
  tr
    th(scope="row") 포스트
    td
      .infor(id="poster")
        img(src="/poster/" + mvnum).imgsize
    th(scope="row") 영화번호
    td
      .infor(id="mvnum") #{mvnum}
    th(scope="row") 제목
    td
      .infor(id="title") #{title}
    th(scope="row") 영화감독
    td
      .infor(id="director") #{director}
    th(scope="row") 주연배우
    td
      .infor(id="actor") #{actor}

block head
  link(rel="stylesheet", href="/css/insert.css")

block content
      div
        .tb-space
          fieldset
            legend 영화정보
            table
              tbody
                each movie in movies
                  +movieInfo( movie.영화번호, movie.영화제목 , movie.영화감독, movie.주연배우,"/image/eternals.jpg")
                